*{
    list-style: none;
    margin:0;
    padding:0;
    text-decoration: none;
}
body{
    background-color: #b185ff;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}
header{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 300;
    margin-top: 30px;
}
.card1 a,.card2 a,.card3 a{
    box-shadow: 10px 10px #cfcfcf;
    color: black;
    background-color: grey;
    width:200px;
    height:200px;
    border-radius: 25%;
}
.card1 a{
    background-image: url("killadelphia.jpg");
}
.card2 a{
    background-image: url("damnthemall.jfif");
}
.card3 a{
    background-image: url("thecloset.jfif");
}
.card1,.card2,.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:20px;
}
div p{
    font-family: 'Open Sans', sans-serif;
    width:200px ;
}
.back{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 900;
    border:2px solid white;
    border-radius: 15px;
    background-color: white;
    padding: 4px 15px;
}